__pycache__/
*.py[cod]
*.sqlite3

# Virtual environments
venv/
env/
.venv/

# Environment files
.env

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml

# Python cache
.pytest_cache/
.mypy_cache/

# Static & media
staticfiles/
media/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db